@charset "UTF-8";

.sub__tit{
    position: relative;
    height: 350px;
    background:url(../../../img/topBg/subtest.jpg);
}
.sub__tit h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 50px auto;
}

/*main{width: 1060px;}*/


main .main__content{
    padding: 50px 0;
    text-align: center;
}

.content__innerConts .innerConts__tit{
    font-size: 42px;
    font-weight:bold;
    margin-bottom: 20px;
}

.content__innerConts > p{
    margin-bottom:50px;
    font-size: 16px;
    word-break: keep-all;
}

.innerConts__cont .cont__login{
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.innerConts__cont .cont__login:before{
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #222;
}

/*.cont__login .find__list li{
    float: left;
    width: 50%;
    background: #aaa;
    color: #fff;
    border-bottom: 1px solid #4d4d4d;
    box-sizing: border-box;
}
.cont__login .find__list li.on{
    background: #fff;
    color: #4d4d4d;
    border: 1px solid #4d4d4d;
    border-bottom: none;
}
.find__list li > a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}*/

/*.form__loginInfo{margin: 50px 0;}*/

.loginInfo__inputs li{
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #222;
}
.loginInfo__inputs li:last-child{margin-bottom: 0;}

.loginInfo__inputs li label,
.loginInfo__inputs li input{
    float: left;
    height: 100%;
}
.loginInfo__inputs li input:hover{
    background:#eee;
}
.loginInfo__inputs li label{
    width: 10%;
    background: #222;
    color: #fff;
}
.loginInfo__inputs li input{
    width: 90%;
    padding: 10px 15px;
    box-sizing: border-box;
}

form .form__findBtns{
    margin: 10px 0;
    text-align: right;
}
form .form__findBtns a:hover{
    color:#d32e2e;
}
form .form__submit{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    background: #222;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-size:18px;
    transition:all 0.5s
}
form .form__joinBtn{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #222;
    box-sizing: border-box;
    font-size:18px;
}
form .form__submit:hover,
form .form__joinBtn:hover{
    background:#d32e2e;
    color:#fff;
}
form .form__joinBtn:hover{
    border:1px solid #d32e2e;
}