@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

.sub__tit{
    position: relative;
    height: 350px;
    background: url(../img/news_bg.jpg) center -800px;
    background-size: cover;
}
.sub__tit h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}

/*왼쪽 서브메뉴*/
.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}
.sub__container .container__subClass,
.sub__container main {float: left;}

.sub__container .container__subClass{
    height: 100%;
}

.container__subClass .subClass__tit{
    width:180px;
    height:180px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    background-color:#222;
    color:#888;
}
.container__subClass .subClass__tit i{
    font-size:72px;
    margin:30px 0 10px 0;
}

.subClass__list li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
    border-bottom:1px solid #555;
    font-size:16px;
    font-weight:bold;
    color:#555;
}
.subClass__list li a:hover{
    color: #eee;
    background: #555;
}

main{width: 84.1269%;}

main .main__siteLoad{padding: 5px;}
.main__siteLoad a{
    display: inline-block;
    font-size: 13px;
}

main .main__content{
    padding: 50px 20px;
    text-align: center;
}

.content__innerConts .innerConts__tit{
    margin-bottom: 20px;
    font-size: 42px;
    font-weight:bold;
}

.content__innerConts > p{
    margin-bottom:50px;
    font-size: 14px;
    word-break: keep-all;
}

.cont__noticeContainer{
    max-width: 800px;
    margin: 0 auto;
}

.cont__noticeContainer .notice{
    width: 800px;
    margin-bottom: 30px;
    table-layout: fixed;
}


thead tr{
    height: 50px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #aaa;
}

thead .numTit{width: 15%;}
thead .titTit{width: 65%;}
thead .dateTit{width: 20%;}

tbody .notice__tit{
    text-align: left;
}


tbody tr{
    height: 50px;
    border-bottom: 1px solid #aaa;
}

tbody a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
tbody a:hover{
    color: #000;
    font-weight: bold;
}



.writeBtn{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 30px auto;
    transition: all 0.5s;
    border: 1px solid #4d4d4d;
}
.writeBtn:hover{background: #4d4d4d; color: #fff;}
.writeBtn i{margin-right: 5px;}



.pagenation{font-size: 16px; text-align: center;}
.pagenation a{display: inline-block; margin-right: 10px;}
.pagenation > a:last-child{margin-right: 0;}
.pagenation a.active, .pagenation a:hover{color: #ba000c; text-decoration: underline;}


.search_notice{
    margin: 50px auto;
    width: 400px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #000;
}
.search_notice .submit{
    cursor: pointer;
    width: 10%;
    height: 100%;
    float: left;
}
.search_notice .fa-search{
    font-size: 25px;
    float: left;
}
.search_notice .search_nt{
    width: 85%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
}
.search_notice .search_nt::placeholder{
    font-size: 18px;
}
